<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center fw-bold">Lista de Tareas</h1>
      <div class="input-group-prepend">
        <input
          #todo
          type="text"
          class="form-control"
          placeholder="Escribir tarea"
          name="todo"
          ngModel
          autocomplete="off"
        />
        <span class="addButton text-white input-group-text" (click)="agregarTarea(todo.value); todo.value=''"><i class="material-icons">add</i></span>
      </div>
        <ul>
          <li *ngFor="let tarea of listaTareas">{{ tarea }} <i class="material-icons" (click)="eliminarTarea(tarea)">delete</i></li>
        </ul>
    </div>
  </form>
</div>
